chatLog/
log/
dump.rdb
main.pid
test.py
gpt_log.db
cookies.json
config.json
config.json.backup
password.json
password.json.lock
stopwords.txt
userdict.txt
tmp/
src/gpt4free/
src/__pycache__
src/monitor.py
src/move_to_mongodb.py
src/send_lbl_board.py
schedule/
img/
